@import "./design-tokens/css-variables.scss";

.Footer{
  position: fixed;
  text-align: center;
  width: 100%;

}

.AddButton{
  z-index: 999;
  border-radius: 50%;
  position: fixed; 
   bottom: 10px;
   background-color: var(--color-secondary);
   right: 25px;
   width: 3rem;
   height: 3rem;
   border: none;
   color: #FFF;
   font-size: 25px;
   font-weight: 500;
  
}

